<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jws.app.operater.data.SearchViewedMapper" >
  <resultMap id="BaseResultMap" type="com.jws.app.operater.model.SearchViewed" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="key_word" property="keyWord" jdbcType="VARCHAR" />
    <result column="pre_url" property="preUrl" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="title_txt" property="titleTxt" jdbcType="VARCHAR" />
    <result column="abstract_txt" property="abstractTxt" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, user_id, key_word, pre_url, url, title_txt, abstract_txt, create_time, update_time
  </sql>
  
  <!-- 保存查看记录 -->
  <insert id="saveSearchViewed" parameterType="com.jws.app.operater.model.SearchViewed" >
    insert into tb_search_viewed (id, user_id, key_word, pre_url, url, title_txt, abstract_txt, create_time, update_time)
    values (#{id,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{keyWord,jdbcType=CHAR}, #{preUrl,jdbcType=CHAR}, 
    		#{url,jdbcType=VARCHAR}, #{titleTxt,jdbcType=VARCHAR}, #{abstractTxt,jdbcType=VARCHAR}, NOW(), NOW())
  </insert>
  
  <!-- 根据userId/keyWord 分页查询 浏览记录 -->
  <select id="querySearchViewed" resultMap="BaseResultMap" parameterType="map">
  	SELECT <include refid="Base_Column_List" /> 
  	FROM tb_search_viewed viewed
  	WHERE  
  	<if test="map.keyWord != null" >
	  viewed.key_word LIKE #{map.keyWord}
    </if>
  	<if test="map.userId != null" >
	  AND viewed.user_id = #{map.userId}
    </if>
	ORDER BY viewed.create_time desc
	LIMIT #{map.pageFrom}, #{map.pageNum}
  </select>
  
  <!--根据 userId/keyWord 统计ViewedHistory总数 -->
  <select id="countViewedHistory" resultType="java.lang.Integer">
    SELECT count(id)
    FROM tb_search_viewed 
	WHERE    
  	<if test="keyWord != null" >
	  key_word LIKE #{keyWord}
    </if>	
  	<if test="userId != null" >
	  AND user_id = #{userId}
    </if>
  </select>
  
  <!-- 批量保存searchVieweds -->
  <insert id="saveSearchVieweds" parameterType="java.util.List">
  	INSERT INTO tb_search_viewed (id, user_id, key_word, pre_url, url, title_txt, abstract_txt, create_time, update_time) 
	<foreach collection="searchVieweds" item="item" index="index" separator="UNION ALL">
  	  SELECT REPLACE(UUID(),'-',''), #{item.userId}, #{item.keyWord}, #{item.preUrl}, #{item.url}, #{item.titleTxt}, #{item.abstractTxt}, #{item.createTime}, NOW()
    </foreach>
  </insert>
  
 <resultMap id="SearchDataResultMap" type="com.jws.app.operater.model.SearchInfoAll" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="keyword" property="keyWord" jdbcType="VARCHAR" />
    <result column="title" property="titleTxt" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="abstract" property="abstracts" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="access_time" property="accessTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="queryRecommendSearchHis" resultMap="SearchDataResultMap" parameterType="string">
  	select distinct keyword, title, url,abstract
  	from tb_search_key_data_rec 
  	<if test="null != userId">
  		where user_id = #{userId}
  	</if>
  </select>
  
</mapper>